{% block articles %}
	{% if ( recent_posts ) %}
		<section class="article-listing page-section">
			<div class="container">
				<div class="row">
					<header class="col-md-12 article-listing-intro">
						<div class="col-md-7 col-lg-8 col-xl-9">
							{% if ( fields.article_heading ) %}
								<h3 class="page-section-header">{{ fields.article_heading }}</h3>
							{% endif %}
						</div>
						<div class="col-md-5 col-lg-3 col-xl-3 ml-auto d-none d-md-block">
							<a class="btn btn-small btn-secondary btn-block" href="{{ fields.read_more_link }}">{{ fields.read_more_text }}</a>
						</div>
					</header>

					<div class="article-list-section clearfix col-md-12">
						{% for key,value in recent_posts %}
							<article class="article-list-item">
								<a href="{{ value.permalink }}" class="article-list-item-image">
									<img class="d-flex mr-3 topicwise-article-image"
										 src="{{ value.thumbnail }}"
										 alt="{{ value.alt_text }}">
								</a>
								<div class="article-list-item-body">
									{% if ( value.tags ) %}
										<ul class="tags-list article-list-item-tags">

											{% if ( value.page_type ) %}
												<li class="tag-item tag-item--main">{{ value.page_type }}</li>
											{% endif %}
											{% for tags_data in value.tags %}
												<li class="tag-item"><a href="{{ tags_data.href }}">#{{ tags_data.name }}</a></li>
											{% endfor %}

										</ul>
									{% endif %}

									<header>
										{% if ( value.post_title ) %}
											<h4 class="article-list-item-headline">
												<a href="{{ value.permalink }}">{{ value.post_title }}</a>
											</h4>
										{% endif %}
										<p class="article-list-item-meta">
											{% if ( value.author ) %}
												<span class="article-list-item-author">by {{ value.author }}</span>
											{% endif %}
											{% if ( value.post_date ) %}
												<time class="article-list-item-date" datetime="">{{ value.post_date|date("d M, Y") }}</time>
											{% endif %}
										</p>
									</header>

									{% if ( value.post_excerpt ) %}
										<p class="article-list-item-content">
											{{ value.post_excerpt|truncate( 30, true )|e('wp_kses_post')|raw }}
										</p>
									{% endif %}
								</div>
							</article>
						{% endfor %}
					</div>

					<div class="col-md-4 col-lg-4 col-xl-3 ml-auto d-md-none">
						<a class="btn btn-small btn-secondary btn-block mt15" href="{{ fields.read_more_link }}">{{ fields.read_more_text }}</a>
					</div>
				</div>
			</div>
		</section>
	{% endif %}
{% endblock %}
