{% block articles %}
	{% if ( recent_posts ) %}
		<section class="article-listing page-section">
			<div class="container">
				<div class="row">
					<header class="col-md-12 article-listing-intro">
						{% if ( fields.article_heading ) %}
							<h3 class="page-section-header">{{ fields.article_heading }}</h3>
						{% endif %}
					</header>
					{% if ( fields.articles_description ) %}
						<p class="page-section-description col-md-12">{{ fields.articles_description|e('wp_kses_post')|raw }}</p>
					{% endif %}

					<div class="article-list-section clearfix col-md-12">
						{% for key,value in recent_posts %}
							{% if ( (key +1 > fields.article_count) and fields.manual_override ) %}
								{% set hidden = ' d-none' %}
							{% else %}
								{% set hidden = '' %}
							{% endif %}
							<article class="article-list-item{{ hidden }}" >
								{% if value.thumbnail_ratio < 1 %}
									<div class="article-list-item-image">
										<div class="article-image-holder">
											<a href="{{ value.permalink }}">
												{% if ( (key +1 > fields.article_count) and fields.manual_override ) %}
													<img class="d-flex mr-3 topicwise-article-image" src="" data-src="{{ value.thumbnail }}" alt="{{ value.alt_text }}">
												{% else %}
													<img class="d-flex mr-3 topicwise-article-image" src="{{ value.thumbnail }}" alt="{{ value.alt_text }}">
												{% endif %}
											</a>
										</div>
									</div>
								{% else %}
									<div class="article-list-item-image article-list-item-image-max-width">
										<a href="{{ value.permalink }}">
											{% if ( (key +1 > fields.article_count) and fields.manual_override ) %}
												<img class="d-flex mr-3 topicwise-article-image" src="" data-src="{{ value.thumbnail }}" alt="{{ value.alt_text }}">
											{% else %}
												<img class="d-flex mr-3 topicwise-article-image" src="{{ value.thumbnail }}" alt="{{ value.alt_text }}">
											{% endif %}
										</a>
									</div>
								{% endif %}

								<div class="article-list-item-body">
									{% if ( value.tags or value.page_type ) %}
										<div class="article-list-item-tags top-page-tags">
											{% if ( value.page_type ) %}
												<a class="tag-item tag-item--main page-type" href="{{ fn('get_term_link', value.page_type_id) }}">{{ value.page_type|e('wp_kses_post')|raw }}</a>
											{% endif %}

											{% if (value.tags) %}
												<div class="tag-wrap tags">
													{% for tags_data in value.tags %}
														<a class="tag-item tag" href="{{ tags_data.href }}">#{{ tags_data.name|e('wp_kses_post')|raw }}</a>
													{% endfor %}
												</div>
											{% endif %}
										</div>
									{% endif %}

									<header>
										{% if ( value.post_title ) %}
											<h4 class="article-list-item-headline">
												<a href="{{ value.permalink }}">{{ value.post_title }}</a>
											</h4>
										{% endif %}
										<p class="article-list-item-meta">
											{% if ( value.author ) %}
												<span class="article-list-item-author">{{ __( 'by', 'planet4-blocks' ) }}
													{% if not ( value.author_override ) %}
														<a href="{{ value.author_url }}">{{ value.author }}</a>
													{% else %}
														{{ value.author }}
													{% endif %}
												</span>
											{% endif %}
											{% if ( value.post_date ) %}
												<time class="article-list-item-date" datetime="">{{ value.post_date|date }}</time>
											{% endif %}
										</p>
									</header>

									{% if ( value.post_excerpt ) %}
										<p class="article-list-item-content">
											{{ value.post_excerpt|truncate( 30, true )|e('wp_kses_post')|raw }}
										</p>
									{% endif %}
								</div>
							</article>
						{% endfor %}
					</div>

					{% if (  fields.manual_override ) %}
						{% if ( recent_posts|length > fields.article_count ) %}
							<div class="col-md-12 col-lg-5 col-xl-5 mr-auto mt-3 load-more-articles-button-div">
								<a class="btn btn-secondary btn-block btn-load-more-articles-click">{{ fields.read_more_text }}</a>
							</div>
						{% endif %}
					{% else %}
						<div class="col-md-12 col-lg-5 col-xl-5 mr-auto mt-3">
							<a class="btn btn-secondary btn-block"
							   href="{{ fields.read_more_link }}">{{ fields.read_more_text }}</a>
						</div>
					{% endif %}
				</div>
			</div>
		</section>
	{% endif %}
{% endblock %}
