{% block campaign_thumbnail %}
	{% if ( fields.tags ) %}
		<div class="campaign-thumbnail-block">
			<div class="container">
				{% if ( fields.title ) %}
					<h2>{{ fields.title }}</h2>
				{% endif %}
				<div class="row thumbnail-largeview-container">
					{% for tag in fields.tags %}
						<div class="col-md-4">
							<a href="{{ tag.href }}">
								<div class="thumbnail-large">
									{% if ( tag.image[0] ) %}
										<img src="{{ tag.image[0] }}" alt="{{ tag.alt_text }}" >
									{% endif %}
									<span class="yellow-cta">#{{ tag.name }}</span>
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
