{% block carousel_split %}

	{% if ( fields ) %}

		<div class="container">
			<div class="carousel-wrap">
				<div id="carousel-wrapper" class="carousel slide" data-ride="carousel">
					{% if ( fields.title ) %}
						<h1>{{ fields.title }}</h1>
					{% endif %}
					{% if fields|length > 1 %}
						<ol class="carousel-indicators">
							{% for image in fields %}
								<li data-target="#carousel-wrapper"
										data-slide-to="{{ loop.index0 }}"
										class="{{ loop.first ? 'active': '' }}">
								</li>
							{% endfor %}
						</ol>
					{% endif %}
					<div class="carousel-inner" role="listbox">
						{% for image in fields %}
							<div class="{{ loop.first ? 'carousel-item active': 'carousel-item' }}">
								{% if ( image.url ) %}
									<img src="{{ image.url }}"
								 		 srcset="{{ image.srcset }}"
										 sizes="{{ image.sizes }}"
										 alt="{{ image.alt }}">
								{% endif %}
								<div class="carousel-caption">
									{% if ( image.title ) %}
										<h3>{{ image.title }}</h3>
									{% endif %}
								</div>
							</div>
                        {% endfor %}
					</div>

					{% if fields|length > 1 %}
						<a class="carousel-control-prev" href="#carousel-wrapper" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true">
								<i></i>
							</span>
							<span class="sr-only">{{ __( 'Previous' ) }}</span>
						</a>
						<a class="carousel-control-next" href="#carousel-wrapper" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true">
								<i></i>
							</span>
							<span class="sr-only">{{ __( 'Next' ) }}</span>
						</a>
					{% endif %}
				</div>
			</div>
		</div>

	{% endif %}

{% endblock %}
