{% block carousel_header %}

	{% if ( fields ) %}

		<div>
			<div class="split-carousel-wrap carousel-header">
				<div id="carousel-wrapper-header" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						{% for i in 1..4 %}
							{% if ( attribute( fields, 'header_'~i ) and attribute( fields, 'image_'~i ) ) %}
								<li data-target="#carousel-wrapper-header"
								    data-slide-to="{{ loop.index0 }}"
								    class="{{ loop.first ? 'active': '' }}">
								</li>
							{% endif %}
						{% endfor %}
					</ol>
					<div class="carousel-inner" role="listbox">

						{% for i in 1..4 %}

							{% if ( attribute( fields, 'header_'~i ) and attribute( fields, 'image_'~i ) ) %}
								<div class="{{ loop.first ? 'carousel-item active': 'carousel-item' }}">
									{% if ( attribute( fields, 'image_'~i ) ) %}
										<img src="{{ attribute( fields, 'image_'~i )|resize(1110) }}"
											 srcset="{{ attribute( fields, 'image_'~i )|resize(1110)|retina(1) }} 1x,
											{{ attribute( fields, 'image_'~i )|resize(1110)|retina(2) }}  2x,
											{{ attribute( fields, 'image_'~i )|resize(1110)|retina(3) }}  3x,
											{{ attribute( fields, 'image_'~i )|resize(1110)|retina(4) }}  4x" alt="{{ attribute( fields, 'image_'~i~'_alt' )}}">
									{% endif %}
									<div class="carousel-caption">
										<div class="container main-header">
											{% if ( attribute( fields, 'header_'~i ) ) %}
												<h1>{{ attribute( fields, 'header_'~i ) }}</h1>
											{% endif %}
											{% if ( attribute( fields, 'subheader_'~i ) ) %}
												<h3>{{ attribute( fields, 'subheader_'~i ) }}</h3>
											{% endif %}
											{% if ( attribute( fields, 'description_'~i )  ) %}
												<p>{{ attribute( fields, 'description_'~i ) }}</p>
											{% endif %}

                                            {% if ( attribute( fields, 'link_text_'~i ) ) %}
												<div class="col-sm-12 col-md-4 col-lg-4 action-button">
													<a href="{{ attribute( fields, 'link_url_'~i) }}"
													   class="btn btn-small btn-medium btn-primary btn-block">{{ attribute( fields, 'link_text_'~i ) }}</a>
												</div>
                                            {% endif %}
										</div>
									</div>
								</div>
							{% endif %}
						{% endfor %}

					</div>
					<a class="carousel-control-prev hidden-sm-down" href="#carousel-wrapper-header" role="button" data-slide="prev">
          				<span class="carousel-control-prev-icon" aria-hidden="true"><i></i></span>
						<span class="sr-only">{{ __( 'Previous', domain ) }}</span>
					</a>
					<a class="carousel-control-next hidden-sm-down" href="#carousel-wrapper-header" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"><i></i></span>
						<span class="sr-only">{{ __( 'Next', domain ) }}</span>
					</a>
				</div>
			</div>
		</div>

	{% endif %}

{% endblock %}
