{% block carousel_header %}

	{% if ( fields ) %}

		<div class="">
			<div class="split-carousel-wrap carousel-header">
				<div id="carousel-wrapper" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						{% for i in 1..4 %}
							{% if ( attribute( fields, 'header_'~i ) and attribute( fields, 'image_'~i ) ) %}
								<li data-target="#carousel-wrapper"
								    data-slide-to="{{ loop.index0 }}"
								    class="{{ loop.first ? 'active': '' }}">
								</li>
							{% endif %}
						{% endfor %}
					</ol>
					<div class="carousel-inner" role="listbox">

						{% for i in 1..4 %}

							{% if i == 1 %}
								{% set number_to_word = 'First' %}
							{% elseif i == 2 %}
								{% set number_to_word = 'Second' %}
							{% elseif i == 3 %}
								{% set number_to_word = 'Third' %}
							{% elseif i == 4 %}
								{% set number_to_word = 'Fourth' %}
							{% endif %}

							{% if ( attribute( fields, 'header_'~i ) and attribute( fields, 'image_'~i ) ) %}
								<div class="{{ loop.first ? 'carousel-item active': 'carousel-item' }}">
									{% if ( attribute( fields, 'image_'~i ) ) %}
										<img src="{{ attribute( fields, 'image_'~i ) }}" alt="{{ number_to_word }} slide">
									{% endif %}
									<div class="carousel-caption">
										<div class="page-header col-md-8 col-lg-8 col-sm-12 main-header pl-0 pr-0">
											{% if ( attribute( fields, 'header_'~i ) ) %}
												<h1>{{ attribute( fields, 'header_'~i ) }}</h1>
											{% endif %}
											{% if ( attribute( fields, 'subheader_'~i ) ) %}
												<h3>{{ attribute( fields, 'subheader_'~i ) }}</h3>
											{% endif %}
											{% if ( attribute( fields, 'description_'~i )  ) %}
												<p>{{ attribute( fields, 'description_'~i ) }}</p>
											{% endif %}

											<div class="row clearfix">
												<div class="col-md-6">

													{% if ( attribute( fields, 'link_text_'~i ) ) %}
														<a href="{{ attribute( fields, 'link_url_'~i) }}"
														   class="btn btn-small btn-medium btn-primary btn-block">{{ attribute( fields, 'link_text_'~i ) }}</a>
													{% endif %}
												</div>
											</div>
										</div>
									</div>
								</div>
							{% endif %}
						{% endfor %}

					</div>
					<a class="carousel-control-prev" href="#carousel-wrapper" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"><i></i></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carousel-wrapper" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"><i></i></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>

	{% endif %}

{% endblock %}
