{% block content_four_column %}

{% if ( posts ) %}
	<div class="ffour-column-content">
		<div class="container">

			{% if (title) %}
				<h2 class="page-section-header">{{ title }}</h2>
			{% endif %}

			{% for post in posts %}
				{% if loop.index0 == 0 %}
					<div class="publications-slider row">
				{% elseif loop.index0 is divisible by(4) %}
					<div class="publications-slider row row-hidden" style="display: none;">
				{% endif %}
						<div class="col-md-4 col-lg-3 col-xl-3">
							<a href="{{ post.permalink }}">
								<div class="four-column-content-wrap clearfix">
									<div class="four-column-content-info">
										<div class="four-column-content-symbol">
											{% if ( post.thumbnail ) %}
												<img src="{{ post.thumbnail|resize(255) }}"
													 srcset="{{ post.thumbnail|resize(255)|retina(1) }} 1x,
									 						 {{ post.thumbnail|resize(255)|retina(2) }} 2x,
									 						 {{ post.thumbnail|resize(255)|retina(3) }} 3x,
									 						 {{ post.thumbnail|resize(255)|retina(4) }} 4x"
													 alt="{{ post.alt_text }}">
											{% endif %}
										</div>
										<div class="four-column-content-information">
											{% if ( post.post_title ) %}
												<h4>{{ post.post_title|e('wp_kses_post')|raw }}</h4>
											{% endif %}
											{% if ( post.post_date ) %}
												<p class="publication-date">{{ post.post_date|date('F Y') }}</p>
											{% endif %}
											{% if ( post.post_excerpt ) %}
												<p class="hidden-sm-down">{{ post.post_excerpt|e('wp_kses_post')|raw }}</p>
											{% endif %}
										</div>
									</div>
								</div>
							</a>
						</div>
				{% if ( (loop.index0 % 4 == 3) or loop.last) %}
					</div>
				{% endif %}
			{% endfor %}

			{% if ( posts|length > 4 ) %}
				<div class="row mt-5 load-more-button-div">
					<div class="col-md-4 col-lg-3 col-xl-3 mb-5">
						<button class="btn btn-block btn-medium btn-secondary btn-small btn-transparent btn-load-more">
							{{ __( 'Load More', 'planet4-blocks' ) }}
						</button>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endif %}

{% endblock %}
