{% block content_three_column %}
	{% if ( fields ) %}
		{% if ( fields.title ) %}
			<h1>{{ fields.title }}</h1>
		{% endif %}
		{% if ( fields.description ) %}
			<p>{{ fields.description }}</p>
		{% endif %}
		<br><br>
		{% if ( fields.images.image_1_src ) %}
			<img src="{{ fields.images.image_1_src }}" alt="{{ fields.images.alt_1_text }}" >
		{% endif %}
		{% if ( fields.images.image_2_src ) %}
			<img src="{{ fields.images.image_2_src }}" alt="{{ fields.images.alt_2_text }}" >
		{% endif %}
		{% if ( fields.images.image_3_src ) %}
			<img src="{{ fields.images.image_3_src }}" alt="{{ fields.images.alt_3_text }}" >
		{% endif %}
	{% endif %}
{% endblock %}
