{% block content_four_column %}

    <div class="four-coloum-content">
        <div class="container">
            <h2>{{ __( 'Publications', 'planet4-blocks' ) }}</h2>
            <div class="row">
                {% for post in posts %}

                    <div class="col-md-4 col-lg-3 col-xl-3">
                        <div class="four-coloum-content-wrap clearfix">
                            <div class="four-coloum-content-info">
                                <div class="four-coloum-content-symbol">
                                    {% if ( post.thumbnail ) %}
                                    <a href="{{ post.permalink }}">
                                        <img src="{{ post.thumbnail|raw }}" alt="{{ post.alt_text }}">
                                    </a>
                                </div>
                                <div class="four-coloum-content-information hidden-xs-down">
                                    {% if ( post.post_title ) %}
                                        <h4><a href="{{ post.permalink }}">{{ post.post_title }}</a></h4>
                                    {% endif %}
                                    {% if ( post.post_date ) %}
                                        <div>{{ post.post_date|date('F Y') }}</div>
                                    {% endif %}
                                    {% if ( post.post_excerpt ) %}
                                        <p><a href="{{ post.permalink }}">{{ post.post_excerpt }}</a></p>
                                    {% endif %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
            <div class="row mt-5">
                <div class="col-md-4 col-lg-3 col-xl-3 mb-5">
                    <a class="btn btn-block btn-medium btn-small btn-primary">
                        {{ __( 'Load More', 'planet4-blocks' ) }}
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
