{% block covers %}

	{% if ( covers ) %}
		<div class="covers-block page-section">
			<div class="container">
				{% if ( fields.title ) %}
					<h2 class="page-section-header">{{ fields.title }}</h2>
				{% endif %}
				{% if ( fields.description ) %}
					<p class="page-section-description">{{ fields.description|e('wp_kses_post')|raw }}</p>
				{% endif %}

				{% set covers_per_row = is_mobile ? 2 : 3 %}
				{% for cover in covers %}
					{% if loop.index0 == 0 %}
						<div class="row">
					{% elseif loop.index0 is divisible by(covers_per_row) %}
						<div class="row row-hidden" style="display: none;">
					{% endif %}
							<div class="cover-card card-one" style="background-image: url({{ cover.image }});">
								{% if ( cover.tags ) %}
									{% for tag in cover.tags %}
										<a class="cover-card-tag" href="{{ tag.href|e('esc_url') }}">#{{ tag.name|e('wp_kses_post')|raw }}</a>
									{% endfor %}
								{% endif %}
								<h2 class="cover-card-heading">{{ cover.title|e('wp_kses_post')|raw }}</h2>
								<p>{{ cover.excerpt|truncate(25)|e('wp_kses_post')|raw }}</p>
								<a class="btn btn-action btn-block cover-card-btn" href="{{ cover.button_link|e('esc_url') }}">{{ cover.button_text }}</a>
							</div>
					{% if ( loop.index0 % covers_per_row == (covers_per_row - 1) or loop.last) %}
						</div>
					{% endif %}
				{% endfor %}
				{% if ( covers|length > covers_per_row and fields.button_text ) %}
					<div class="col-lg-4 col-md-6 mb-5 load-more-button-div">
						<button class="btn btn-block btn-small btn-secondary btn-load-more-click">{{ fields.button_text }}</button>
					</div>
				{% endif %}
			</div>
		</div>
	{% endif %}

{% endblock %}
