{% block happy_point %}
    {% if ( fields ) %}

		<div class="eager-wrap">
			<div class="container">
				{% if ( fields['boxout_title'] ) %}
					<div class="eager-for-more hidden-md-down">
						<h2>{{ fields['boxout_title']|e('html') }}</h2>
						{% if ( fields['boxout_descr'] ) %}
							<h5>{{ fields['boxout_descr']|e('html') }}</h5>
						{% endif %}
						{% if (( fields['boxout_link_url'] ) and (fields['boxout_link_text'])) %}
							<a href="{{ fields['boxout_link_url']|e('html_attr') }}" class="btn btn-primary">{{ fields['boxout_link_text']|e('html') }}</a>
						{% endif %}
					</div>
				{% endif %}
			</div>

			<div class="eager-wrap-mobile hidden-lg-up">
				<div class="container">
					{% if ( fields['background'] ) %}
						{{ fields['background'] }}
					{% endif %}
					{% if ( fields['boxout_title'] ) %}
						<h3>{{ fields['boxout_title']|e('html') }}</h3>
					{% endif %}
					{% if ( fields['boxout_descr'] ) %}
						<h4>{{ fields['boxout_descr']|e('html') }}</h4>
					{% endif %}
					{% if (( fields['boxout_link_url'] ) and (fields['boxout_link_text'])) %}
						<a href="{{ fields['boxout_link_url']|e('html_attr') }}" class="btn btn-primary">{{ fields['boxout_link_text']|e('html') }}</a>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
