{% block happy_point %}
	{% if ( fields ) %}
		{% if ( fields.background_src.0 ) %}
			<style>
				@media (min-width: 992px) {
					.eager-wrap {
						background: url("{{ fields.background_src.0 }}") center center no-repeat;
					}
				}
			</style>
        {% endif %}
		{% if ( fields.opacity ) %}
			<style>
					.eager-wrap {
						opacity: {{ fields.opacity }};
					}
					.eager-wrap:before {
						opacity: {{ fields.opacity }};
					}
					.eager-for-more:before {
						opacity: {{ fields.opacity }};
					}
				}
			</style>
        {% endif %}
		<div class="eager-wrap">
			<div class="container">
				{% if ( fields.boxout_title ) %}
					<div class="eager-for-more hidden-md-down">
						<h2>{{ fields.boxout_title }}</h2>
						{% if ( fields.boxout_descr ) %}
							<h5>{{ fields.boxout_descr }}</h5>
						{% endif %}
						{% if ( fields.boxout_link_url and fields.boxout_link_text ) %}
							<a href="{{ fields.boxout_link_url }}" class="btn btn-primary">{{ fields.boxout_link_text }}</a>
						{% endif %}
					</div>
				{% endif %}
			</div>

			<div class="eager-wrap-mobile hidden-lg-up">
				<div class="container">
					{% if ( fields.background ) %}
						{{ fields.background_html|raw }}
					{% endif %}
					{% if ( fields.boxout_title ) %}
						<h3>{{ fields.boxout_title }}</h3>
					{% endif %}
					{% if ( fields.boxout_descr ) %}
						<h4>{{ fields.boxout_descr }}</h4>
					{% endif %}
					{% if ( fields.boxout_link_url and fields.boxout_link_text ) %}
						<a href="{{ fields.boxout_link_url }}" class="btn btn-primary">{{ fields.boxout_link_text }}</a>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
