{% block take_action_boxout %}

	{% if ( page ) %}

		{% if ( page.image ) %}
			<style>
				.boxout-block .boxout-block-card {
					background-image: url({{ page.image }});
				}
			</style>
		{% endif %}

		<div class="boxout-block">
			<div class="boxout-block-card card-one">
				{% if ( page.first_tag and page.first_tag_link ) %}
					<a href="{{ page.first_tag_link }}" class="boxout-block-card-tag">#{{ page.first_tag }}</a>
				{% endif %}
				{% if ( page.title ) %}
					<h2 class="boxout-block-card-heading">{{ page.title }}</h2>
				{% endif %}
				{% if ( page.excerpt ) %}
					<p>{{ page.excerpt|excerpt(25)|raw }}</p>
				{% endif %}

				<a class="btn btn-primary btn-transparent btn-block boxout-block-card-btn"
				   href="{{ page.link ? page.link : '#' }}"
				>{{ __('take action', 'planet4-master-theme') }}</a>
			</div>
		</div>

	{% endif %}

{% endblock %}
