{% block tasks %}

    {% if ( fields ) %}

        <div id="p4bks_tasks_container" class="can-do-steps shortcode-tasks">
            {% for i in 1..4 %}

                <div class="hidden-md-down row">
                    <div class="col-md-3 col-lg-3 col-xl-3 {{ i==1 ? 'active' : '' }}">
                        <div class="step-info-wrap clearfix">
                            <span class="step-number">{{ i }}</span>
                            <div class="step-info">
                                <div class="steps-information">
                                    {% if ( fields['title_'~i] ) %}
                                        <h5>{{ fields['title_'~i]|e('html') }}</h5>
                                    {% endif %}
                                    {% if ( fields['description_'~i] ) %}
                                        <p>{{ fields['description_'~i]|e('html') }}</p>
                                    {% endif %}
                                    {% if ( fields['attachment_'~i] ) %}
                                        <div class="steps-action" style="display: none;">
                                            <img src="{{ fields['attachment_'~i]|e('html_attr') }}" alt=""/>
                                        </div>
                                    {% endif %}
                                    {% if ( fields['button_text_'~i] and fields['button_text_'~i] ) %}
                                        <a class="btn blue-button"
                                           href="{{ fields['button_link_'~i]|e('html_attr') }}">{{ fields['button_text_'~i]|e('html') }}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}


            <div class="can-do-steps-mobile hidden-lg-up">
                <div id="accordion" role="tablist" aria-multiselectable="true">
                    {% for i in 1..4 %}
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-one"
                                       aria-expanded="true" aria-controls="collapseOne">
                                        <span class="step-number">{{ i }}</span>
                                        {% if ( fields['title_'~i] ) %}
                                            {{ fields['title_'~i]|e('html') }}
                                        {% endif %}
                                    </a>
                                </h5>
                            </div>

                            <div id="collapse-one" class="collapse show" role="tabpanel" aria-labelledby="heading-one">
                                <div class="card-block info-with-image-wrap clearfix">
                                    <div class="accordion-image-wrap">
                                        {% if ( fields['attachment_'~i] ) %}
                                            <img src="{{ fields['attachment_'~i]|e('html_attr') }}" alt=""/>
                                        {% endif %}
                                    </div>
                                    <div class="mobile-accordion-info">
                                        {% if ( fields['description_'~i] ) %}
                                            <p>{{ fields['description_'~i]|e('html') }}</p>
                                        {% endif %}
                                    </div>

                                    {% if ( fields['button_text_'~i] and fields['button_text_'~i] ) %}
                                        <a class="btn blue-button"
                                           href="{{ fields['button_link_'~i]|e('html_attr') }}">{{ fields['button_text_'~i]|e('html') }}
                                        </a>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="hidden-lg-up friends-take-action-button">
                <a href="javascript:void(0)" class="btn btn-primary">Ask your friends to take action</a>
            </div>

        </div>

    {% endif %}

{% endblock %}