{% block settings_content %}

    <div id="settings_div" class="wrap">
        <h2>{{ __( 'Settings', domain ) }}</h2>
    </div>

    {{ fn( 'settings_errors' ) }}

    <form id="p4bks_main_settings_form" name="p4bks_main_settings_form" method="post" action="options.php"> {# ../../../../wp-admin/options.php #}

        {{ fn( 'settings_fields', 'p4bks_main_settings_group' ) }}
        {{ fn( 'do_settings_sections', 'p4bks_main_settings_group' ) }}

        <br /><br />
        <h4>{{ __( 'Choose which blocks will be available', domain ) }}</h4>
        <table class="form-table">
            <tr valign="top">
                <th>{{ __( 'Language', domain ) }}:</th>
                <td>
                    <select id="p4bks_lang" name="p4bks_main_settings[p4bks_lang]">
                        <option selected disabled>- {{ __( 'Select Language', domain ) }} -</option>
                        {% for key, language in available_languages %}
                            {% if key == settings.p4bks_lang %}
                                <option value="{{ key }}" selected>{{ language }}</option>
                            {% else %}
                                <option value="{{ key }}">{{ language }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr valign="top">
                <th>{{ __( 'Header', domain ) }}</th>
                <td>
                    {% if ( settings.p4bks_block_header ) %}
                        {% set checked = 'checked' %}
                    {% else %}
                        {% set checked = '' %}
                    {% endif %}
                    <input id="p4bks_block_header" type="checkbox" name="p4bks_main_settings[p4bks_block_header]" value="1" {{ checked|e('html_attr') }} />
                </td>
            </tr>
            <tr valign="top">
                <th>{{ __( 'Take action tasks', domain ) }}</th>
                <td>
                    {% if ( settings.p4bks_block_tasks ) %}
                        {% set checked = 'checked' %}
                    {% else %}
                        {% set checked = '' %}
                    {% endif %}
                    <input id="p4bks_block_tasks" type="checkbox" name="p4bks_main_settings[p4bks_block_tasks]" value="1" {{ checked|e('html_attr') }} />
                </td>
            </tr>
            <tr valign="top">
                <th>{{ __( 'Two Columns', domain ) }}</th>
                <td>
                    {% if ( settings.p4bks_block_two_column ) %}
                        {% set checked = 'checked' %}
                    {% else %}
                        {% set checked = '' %}
                    {% endif %}
                    <input id="p4bks_block_two_column" type="checkbox" name="p4bks_main_settings[p4bks_block_two_column]" value="1" {{ checked|e('html_attr') }} />
                </td>
            </tr>
        </table>
        {{ fn( 'submit_button', __( 'Save Changes', domain ), 'primary', 'p4bks_main_settings_save_button' ) }}
    </form>
    <div class="clear"></div>

{% endblock %}